<div class="blanco" id="blanco">
<p style="color: green"><%= notice %></p>

<div class="row">
<div class="col-lg-2 col-xl-2 col-xxl-2 col-m-2 btn btn-light justify-content-md-start  d-md-flex">
<div class="btn btn-light" id="editar">
<%= link_to "Editar", edit_article_path(@article) %> 
</div>
<div class="btn btn-light" id="volver">
<%= link_to "Volver", articles_path %> 
</div >
</div >



<div class="col-lg-10 col-xl-10 col-xxl-10 col-md-10 btn btn-light text-right justify-content-md-end  d-md-flex" id="editar">
<%= button_to "X", @article, method: :delete %>
</div>
</div >

<%= render @article %>

<div class="text-right justify-content-md-end  d-md-flex">
<% Article::Kinds.each do |kind| %>
<div class="btn btn-light btn-lg">
<%= button_to "#{Article::KindsSpanish[kind]}",
new_user_reaction_path(article_id: @article.id, reaction_type:
"article", kind: kind), method: :post %>
</div>
<% end %>
</div>



<%= render 'comments/form' %>
<%= render 'comments/article_comments' %>

</div>

<div class="boton">


 <a class="nav-link" href="/articles/new"><img src="<%= asset_path 'boton' %>" class="w-10" alt="boton +"></a>

</div>

<div class="boton2">


 <a class="nav-link" href="#blanco"><img src="<%= asset_path 'arriba' %>" class="w-10" alt="boton arriba"></a>

</div>

